body {
    background:#00CCBF;
    font-family:Arial, Helvetica, sans-serif;
}

.assignments {
    display:flex;
    flex-wrap:wrap;
}

.assignment {
    width:22%;
    padding:10px;
    margin:10px;
    padding:20px 10px;
    background:#FF5F5D;
    border-radius: 10px;
}

.assignment img{
    width:200px;
    padding:1px;
    border: 2px solid #25484e;
    display:block;
    margin:auto;
}

.assignment img:hover {
    border:1px dashed white;
}

h1{
    color: #10307a;
    text-align:center;
}

h1:hover {
    color: white;
}

h2 {
    text-align:center;
}

a{
    text-decoration:none;
    color:#10307a;
}

a:hover{
    color:white;
}